<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCDl_da5gNTB3oI5SLR3og3GYnmcQZZL20</string>
	<key>GCM_SENDER_ID</key>
	<string>252596569956</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HongRyulLee.lets-ochoice</string>
	<key>PROJECT_ID</key>
	<string>let-ochoice</string>
	<key>STORAGE_BUCKET</key>
	<string>let-ochoice.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:252596569956:ios:1718311b452604dc399c71</string>
</dict>
</plist>